html,



h1 	{
	color: red;
	margin: auto;
	width: 50%;
	border: 5px solid green;
	padding: 20px;
	}

body 	{
	background-color: black;
	}

h2	{
	font-size: 40px;
	color: red;
	}

p	{
	color: blue;
	}

.paragraph {
	font-size: 8px;
	}


.random {
	color: green;
	padding-left: 20px;
	}



