html,



h1 	{
	color: red;
	
	}

body 	{
	background-color: gray;
	}

h2	{
	font-size: 40px;
	color: green;
	}

p	{
	color: blue;
	}

.intro {
	font-size: 8px;
	margin: auto;
	width: 50%;
	border: 5px solid green;
	padding: 20px;
	}


.random {
	font-size: 16px;
	padding-left: 50px;
	margin: auto;
	width: 50%;
	border: 5px dashed red;
	}



